$box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
$background: linear-gradient(180deg, rgba(25, 104, 252, 0.1) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.01) 99.94%, rgba(25, 104, 252, 0.05) 100%);

$main-font: #11223F;
$blue-font: #1968FC;